<!DOCTYPE html>
<html>
  <head>
    <title>Calorie Buddy</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <h1>Calorie Buddy</h1>

    <ul class="navigation">
      <li class="navigation-item">
        <a href="/">Home</a>
      </li>
      <li class="navigation-item right active">
        <a href="/about">About</a>
      </li>
      <li class="navigation-item">
        <a href="/list">All Food</a>
      </li>
      <li class="navigation-item">
        <a href="/search">Find Food</a>
      </li>
      <li class="navigation-item">
        <a href="/add_food">Add Food</a>
      </li>
      <li class="navigation-item">
        <a href="/update_food">Modify Food</a>
      </li>
    </ul>

    <p>
      This app was developed after 12 AM by Bahaa Zidan
    </p>
  </body>
</html>
